.single-drink-container {
    min-height:100vh;
    color:white;
    background:$clr-neutral-dark;

    .image {
        max-width:100vw;
        height:40vh;
        overflow:hidden;
        background:$clr-neutral-dark;
        background: radial-gradient($clr-neutral-darker, $clr-neutral-dark);
        display:flex;
        justify-content:center;
        align-items:center;
        img {
            width:100%;
            mix-blend-mode:soft-light;
        }
    }
    .card {
        width:calc(min(90vw, 620px));
        display:flex;
        flex-direction:row-reverse;
        align-items:center;
        justify-content:center;
        padding:2em;
        margin: 0 auto;
        .right {
            background:$clr-accent-flat-light;
            color:$clr-neutral-dark;
            border-radius:1em;
            padding:1em;
            display:flex;
            flex-direction:column;
            justify-content:center;
            .drink-name {
                text-align:center;
                width:100%;
            }
            .details {
                text-align:center;
                display:flex;
                justify-content:center;
                align-items:center;
                gap:1em;
                .vl {
                    border-left:1px solid $clr-neutral-dark-semi-trans;
                    height:25px;
                    width:1px;
                    margin-left:0;
                }
            }
            .instructions {
                text-align:center;
            }
        }
        .left {
            height:60%;
            padding:1em;
            background:$clr-accent-flat-dark;
            display:flex;
            flex-direction:column;
            justify-content:center;
            gap:1em;
            border-radius:1em 0 0 1em;
            .ingredients-title {
                text-align:center;
                margin:0;
                color:$clr-neutral-darker;
            }
            p {
                margin:0;
                color:$clr-neutral-dark;
            }
        }
    }
    .search-link {
        display:flex;
        justify-content:center;
        width:100%;
        padding-bottom:2rem;
        a {
            color:$clr-accent-default;
            text-decoration:none;
            font-weight:bold;
            text-align:center;
            transition:250ms;
            &:hover {
                color:$clr-accent-flat-light;
            }
        }
    }
}