* {
    font-family:'Roboto Slab', serif;
}


body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.home-content {
    background:$clr-navy;
    background-image:linear-gradient(bottom left, rgba(0,0,0,0), #043347);
    background-size:cover;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:1.5em;
    text-align:center;
    padding:0 2em;
    
    .text {
        color:white;
        .title {
            font-size:5rem;
        }
        &-snippet {
            font-size:1.875rem;
        }
    }
    .button {
        background:$clr-baby;
        background-position: center;
        background-size:cover;
        border-radius: 1em;
        width:9.375rem;
        height:3.125rem;
        place-items:center;
        padding-top:1rem;
        transition:transform .3s;
        
        a {
            font-size:1.5rem;
            text-decoration:none;
            color:black;
            text-align:center;
        }
        
        &:hover {
            transform:scale(1.1);
        }
    }
}