.search-container {
    color:white;
    background:$chalkboard;
    background-size: cover;
    height:100vh;
    
    .search-bar {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:3rem;
        
        .category-search {
            width:20%;
            height:4rem;
            
            #category-select {
                width:100%;
                height:100%;
                font-size:120%;
                
                &:hover {
                    cursor:pointer;
                }
            }
        }
        
        .type-search {
            width:50%;
            height:4rem;
            
            input {
                width:100%;
                height:100%;
                font-size:120%;
            }
        }
        
        .random-drink {
            width:20%;
            height:4rem;
            
            #random-drink-btn {
                width:100%;
                height:100%;
                font-size:120%;
                
                &:hover {
                    cursor:pointer;
                }
            }
        }
    }
    .cards-container {
        padding:3em;

        .card {
            color:black;
            text-align:center;
            background:$card-background;
            width:12.5rem;
            height:18.75rem;
            background-size: cover;
            border-radius:10px;
            
            .front {
                padding:1.2em .5em;
                display:flex;
                flex-direction:column;
                gap:.5em;
                justify-content:center;
                place-items:center;
                .name {
                    font-size:1.875rem;
                    opacity:1;
                }
                .thumbnail {
                    width:10.3125rem;
                    height:10.3125rem;
                    background:$cocktail-image;
                    background-size: cover;
                    box-shadow: 2px 2px 5px black;
                    border-radius:5px;
                }
            }
            .back {
                display:flex;
                flex-direction:column;
                justify-content:center;
                place-items:center;
                gap:1em;
                font-size:0.875rem;
                opacity:0;
                position:absolute;
                transform:translateY(-75%);
                .recipe-btn {
                    padding:.25em;
                    width:60%;
                    background:black;
                    border-radius:100vh;
                    & > a {
                        text-decoration:none;
                        color:white;
                    }
                }
            }
            
            &:hover {
                cursor:pointer;
                
                transform:scale(1.375);
                transition:0.3s;
                
                .front {
                    .name {
                        animation: nameAnimation .3s forwards;
                    }
                    .thumbnail {
                        transition:.3s;
                        transform:translateY(-30%) scale(.8);
                    }
                }
                .back {
                    width:100%;
                    opacity:1;
                    transition:.3s;
                    transition-delay:.4s;
                    .recipe-btn:hover {
                        box-shadow: 2px 2px 5px black;
                    }
                    .drink-info {
                        columns:2;
                        column-rule:1px solid rgba(0, 0, 0, .3);
                        
                        span {
                            font-size:1rem;
                            opacity:.7;
                            display:block;
                        }
                    }
                }
            }
        }
    }
}

.hide {
    display:none;
}

@keyframes nameAnimation {
    0% {
        opacity:1;
        font-size: 1.875rem;
        transform:translateY(0);
    }
    25% {
        opacity:0;
        font-size:1.875rem;
        transform:translateY(0);
    }
    30% {
        opacity:0;
        font-size:1.5625rem;
        transform:translateY(-165%);
    }
    100% {
        opacity:1;
        font-size:1.5625rem;
        transform:translateY(-165%);
    }
}
