$font-regular:chalky, sans-serif;
$chalkboard:url("../images/chalkboard.jpg");
$chalk-scribble:url("../images/button-scribble.png");
$card-background:url("../images/dropdown.png");


$cocktail-image:url("../images/sample-cocktail.jpg");