// ! colors
$clr-neutral-light:#efeeff;
$clr-neutral-dark:#212121;
$clr-neutral-darker:#181717;
$clr-neutral-dark-semi-trans:#21212136;
$clr-accent-default:#6c63ff;
$clr-accent-flat-light:#9f9abe;
$clr-accent-flat-dark:#65617d;